name: Send Attendance

on:
  schedule:
    - cron: "30 2 * * *"     # 8 AM IST
    - cron: "30 10 * * *"    # 4 PM IST
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        env:
          MGIT_USERNAME: ${{ secrets.MGIT_USERNAME }}
          MGIT_PASSWORD: ${{ secrets.MGIT_PASSWORD }}
          WHATSAPP_TOKEN: ${{ secrets.WHATSAPP_TOKEN }}
          WHATSAPP_PHONE_ID: ${{ secrets.WHATSAPP_PHONE_ID }}
          RECIPIENT_PHONE: ${{ secrets.RECIPIENT_PHONE }}
        run: python main.py
